<!-- views/books.ejs -->
<head>
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Books</h1>
    <% if (!userId) { %>
        <p>Sorry, you cannot access the library without logging into the system.</p>
    <% } else { %>
        <ul>
            <% books.forEach(book => { %>
                <li>
                    <a href="/books/<%= book.id %>"><%= book.title %></a>
                    by <%= book.author %>
                </li>
            <% }); %>
        </ul>
        <a href="/user/set">Log in</a>
    <% } %>
</body>
